.cartModal {
    width: 30rem;
    min-height: 8rem;
    height: auto;
    max-height: 45rem;
    left: -30rem;
    background-color: white;
    overflow-y: scroll;

    .item {
        
        display: flex;
        flex-direction: row;
        padding: 1rem;

        .img {
            width: 6rem;
            height: 6rem;
        }
    }
}

@media (max-width: 1023px) {
    .cartModal {
        background-color: white;
        width: 90vw;
        height: 90vh;
        min-width: 90vw;
        max-height: 90vh;
        margin: 0 auto 0 auto;
        left: -80vw;
        border: 1px solid black;
        z-index: 1;
    }
}

