.cartModal {
    width: 30rem;
    min-height: 8rem;
    height: auto;
    max-height: 45rem;
    left: -30rem;
    background-color: white;
    overflow-y: scroll;

    .item {
        
        display: flex;
        flex-direction: row;
        padding: 1rem;

        .img {
            width: 6rem;
            height: 6rem;
        }
    }
}

