.description {
    margin: 0 auto;
}

.value {
    min-width: 70%;
    max-width: 70%;
}

@media (min-width: 1024px) {
    .description {
        position: absolute;
        left: 50%;
        transform: translateX(-40%);
    }
    

}