.results {
    border: 1px solid rgba(0,0,0, 0.1);
    width: 85vw;
    min-height: 100vh;
}

.thumbnail {
    height: 45vh;
    width: 80%;
    margin: 2rem auto;
}

@media (min-width: 1024px) {
    .thumbnail {
        height: auto;
        max-height: 60vh;
        width: 24%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}